---
layout: default
title: yiyuezhuo's blog
---
<div>
        <p>Here's yiyuezhuo's blog.</p>
        <p>There're my all blogs:</p>
</div>

{% for post in site.posts %}
<!--
<div class="post-box">
  <a href="{{ post.url }}" title="{{ post.title }}">
    <h2 class="post">{{ post.title }}</h2>
    <div class="desc-box">
        {{ post.content | strip_html | truncatewords: 50 }}
    </div>            
  <div class="date-box"><span>{{ post.date | date_to_string }}</span></div>
  </a>
</div>
-->
{% include render_post.html %}
{% endfor %}

